.calcu{
    background-color: rgb(244, 252, 183);
    border-radius: 10px;
}
.row1{
    background-color:#F8F9FA;
    padding-top: 10px;
    border-radius: 10px;
}
.row2{
    background-color:#F8F9FA;
    padding-top: 10px;
    border-radius: 10px;
}